body {
  background: url("eggs.jpg") no-repeat center center fixed #111;
  background-size: cover;
}

.hero {
  color: white;
  margin: 20%;
  letter-spacing: -0.05em;
}

.ima {
  width: 100px;
  height: 50px;
}
